version: '3.8'
services:
  namesrv:
    image: apache/rocketmq:5.3.2
    container_name: rmqnamesrv
    ports:
      - "9876:9876"
    networks:
      - rocketmq
    volumes:
      - ./logs/namesrv:/home/rocketmq/logs
    command: sh mqnamesrv
    healthcheck:
      test: ["CMD-SHELL", "grep -q 'The Name Server boot success' /home/rocketmq/logs/rocketmqlogs/namesrv.log"]
      interval: 30s
      timeout: 10s
      retries: 5

  broker:
    image: apache/rocketmq:5.3.2
    container_name: rmqbroker
    ports:
      - "10909:10909"
      - "10911:10911"
      - "10912:10912"
    networks:
      - rocketmq
    depends_on:
      - namesrv
    environment:
      - NAMESRV_ADDR=namesrv:9876
    volumes:
      - ./broker.conf:/home/rocketmq/rocketmq-5.3.2/conf/broker.conf
      - ./plain_acl.yml:/home/rocketmq/rocketmq-5.3.2/conf/plain_acl.yml
      - ./logs/broker:/home/rocketmq/logs
      - ./store:/home/rocketmq/store
    command: sh mqbroker -c /home/rocketmq/rocketmq-5.3.2/conf/broker.conf
    healthcheck:
      test: ["CMD-SHELL", "grep -q 'boot success' /home/rocketmq/logs/rocketmqlogs/broker.log"]
      interval: 30s
      timeout: 10s
      retries: 5

  proxy:
    image: apache/rocketmq:5.3.2
    container_name: rmqproxy
    ports:
      - "8080:8080"
      - "8081:8081"
    networks:
      - rocketmq
    depends_on:
      - namesrv
      - broker
    environment:
      - NAMESRV_ADDR=namesrv:9876
    volumes:
      - ./rmq-proxy.json:/home/rocketmq/rocketmq-5.3.2/conf/rmq-proxy.json
      - ./logs/proxy:/home/rocketmq/logs
    restart: on-failure
    command: sh mqproxy -pc /home/rocketmq/rocketmq-5.3.2/conf/rmq-proxy.json

  console:
    image: apacherocketmq/rocketmq-dashboard:2.0.0
    container_name: rmqconsole
    ports:
      - "18087:8080"
    environment:
      - JAVA_OPTS=-Drocketmq.namesrv.addr=namesrv:9876
    depends_on:
      - namesrv

networks:
  rocketmq:
    driver: bridge